.compare-gas-monthly-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.compare-gas-monthly-gas-comparison-weekly {
  width: 497px;
  height: 1104px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.compare-gas-monthly-recommendations {
  top: 741.3553466796875px;
  left: 20.708250045776367px;
  width: 455.5815124511719px;
  height: 444.537109375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-rectangle {
  top: 0px;
  left: 0px;
  width: 456px;
  height: 362px;
  position: absolute;
}
.compare-gas-monthly-recommendations1 {
  top: 49.69968032836914px;
  left: -0.0000019531250927684596px;
  width: 455.5815124511719px;
  height: 394.8373107910156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-recommendation {
  top: 0px;
  left: 0px;
  width: 455.5815124511719px;
  height: 68.8248519897461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-charmtick {
  top: -10px;
  right: 11px;
  width: 40px;
  height: 53px;
  position: absolute;
}
.compare-gas-monthly-text {
  top: -0.000025781249860301614px;
  left: 19.327701568603516px;
  color: rgba(144, 144, 144, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-recommendation1 {
  top: 65.20265197753906px;
  left: 0.0000018615722865433781px;
  width: 455.5815124511719px;
  height: 68.8248519897461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-charmtick1 {
  top: -10px;
  right: 11px;
  width: 40px;
  height: 53px;
  position: absolute;
}
.compare-gas-monthly-text02 {
  top: 0.00001293945297220489px;
  left: 19.327701568603516px;
  color: rgba(144, 144, 144, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-recommendation2 {
  top: 130.40464782714844px;
  left: 0.0000018615722865433781px;
  width: 455.5815124511719px;
  height: 68.8248519897461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-charmtick2 {
  top: -10px;
  right: 11px;
  width: 40px;
  height: 53px;
  position: absolute;
}
.compare-gas-monthly-text04 {
  top: -0.00013415527064353228px;
  left: 19.327701568603516px;
  color: rgba(144, 144, 144, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-recommendation3 {
  top: 195.60733032226562px;
  left: 0.0000018615722865433781px;
  width: 455.5815124511719px;
  height: 68.8248519897461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-charmtick3 {
  top: -10px;
  right: 11px;
  width: 40px;
  height: 53px;
  position: absolute;
}
.compare-gas-monthly-text06 {
  top: -0.00009543457417748868px;
  left: 19.327701568603516px;
  color: rgba(144, 144, 144, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-recommendation4 {
  top: 260.80999755859375px;
  left: 0.0000018615722865433781px;
  width: 455.5815124511719px;
  height: 68.8248519897461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-charmtick4 {
  top: -10px;
  right: 11px;
  width: 40px;
  height: 53px;
  position: absolute;
}
.compare-gas-monthly-text08 {
  top: -0.00005671386679750867px;
  left: 19.327701568603516px;
  color: rgba(144, 144, 144, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-recommendation5 {
  top: 326.0126647949219px;
  left: 19.327701568603516px;
  width: 426.5899353027344px;
  height: 68.8248519897461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-text10 {
  color: rgba(144, 144, 144, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-mdilightbulbon {
  top: 9.604411125183105px;
  left: 13.805498123168945px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.compare-gas-monthly-text12 {
  color: rgba(41, 216, 38, 1);
  width: 453px;
  height: auto;
  position: absolute;
  font-size: 34.51375198364258px;
  font-style: SemiBold;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-text14 {
  top: 149.09939575195312px;
  left: 20.708250045776367px;
  color: rgba(41, 216, 38, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 49.69980239868164px;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-tabs {
  top: 86.97464752197266px;
  left: 0px;
  width: 496.99798583984375px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.compare-gas-monthly-tabs1 {
  width: 496.99798583984375px;
  height: 56.6025505065918px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.compare-gas-monthly-tabs2 {
  width: 496.99798583984375px;
  height: 56.6025505065918px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-monthly {
  top: 0.000040625000110594556px;
  left: 331.3320007324219px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-selected {
  top: 0px;
  left: 0px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-line1 {
  top: 56.60259246826172px;
  left: 33.13319778442383px;
  width: 99px;
  height: 1px;
  position: absolute;
}
.compare-gas-monthly-text16 {
  color: rgba(144, 144, 144, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-navlink {
  display: contents;
}
.compare-gas-monthly-weekly {
  top: 0.000040625000110594556px;
  left: 165.66600036621094px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.compare-gas-monthly-text18 {
  color: rgba(192, 192, 192, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-navlink1 {
  display: contents;
}
.compare-gas-monthly-daily {
  top: 0px;
  left: 0px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.compare-gas-monthly-text20 {
  color: rgba(192, 192, 192, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-header {
  top: 0px;
  left: 0px;
  width: 496.99798583984375px;
  height: 93.32870483398438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-text22 {
  top: 12.424949645996094px;
  color: rgba(144, 144, 144, 1);
  width: 497px;
  height: auto;
  position: absolute;
  font-size: 49.69980239868164px;
  font-style: SemiBold;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-navlink2 {
  display: contents;
}
.compare-gas-monthly-tablerarrowback {
  top: 15.186050415039062px;
  left: 426.5899353027344px;
  width: 57px;
  height: 57px;
  position: absolute;
  text-decoration: none;
}
.compare-gas-monthly-navlink3 {
  display: contents;
}
.compare-gas-monthly-icbaselinehome {
  top: 20px;
  left: 29px;
  width: 57px;
  height: 57px;
  position: absolute;
  text-decoration: none;
}
.compare-gas-monthly-text27 {
  top: 611.5836791992188px;
  left: 22.08880043029785px;
  color: rgba(144, 144, 144, 1);
  width: 454px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-text29 {
  top: 662.6640014648438px;
  left: 20.708250045776367px;
  color: rgba(144, 144, 144, 1);
  width: 454px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-component1 {
  top: 681.99169921875px;
  left: 172.56875610351562px;
  width: 284px;
  height: 27.611000061035156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.compare-gas-monthly-bottom {
  top: -3px;
  right: 0px;
  width: 277px;
  height: 7px;
  position: absolute;
  border-radius: 17.94715118408203px;
}
.compare-gas-monthly-top {
  top: -3px;
  left: 7px;
  width: 14px;
  height: 7px;
  position: absolute;
  border-radius: 17.94715118408203px;
}
.compare-gas-monthly-slider {
  top: -13px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.compare-gas-monthly-stuff {
  top: 227.79075622558594px;
  left: 17.9471492767334px;
  width: 455.5815124511719px;
  height: 385.1734619140625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-thistime {
  top: 291.2960205078125px;
  left: -0.0000011840820661745965px;
  width: 227.79075622558594px;
  height: 93.87740325927734px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-text31 {
  top: 1.3804359436035156px;
  left: -0.0000011840820661745965px;
  color: rgba(217, 38, 38, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 34.51375198364258px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-current {
  top: 291.2960205078125px;
  left: 225.02964782714844px;
  width: 230.55184936523438px;
  height: 93.87740325927734px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-text33 {
  top: -0.00011406250268919393px;
  left: 1.3805433511734009px;
  color: rgba(144, 144, 144, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 34.51375198364258px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.compare-gas-monthly-graph {
  top: 0px;
  left: -17px;
  width: 455.5815124511719px;
  height: 294.0571594238281px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-maskgroup {
  top: -0.000021484374883584678px;
  left: 5.522198677062988px;
  width: 447.2981872558594px;
  height: 291.2960510253906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.compare-gas-monthly-vector4 {
  right: -14px;
  width: 455px;
  bottom: -2px;
  height: 145px;
  position: absolute;
}
.compare-gas-monthly-vector3 {
  top: 147px;
  left: 4px;
  width: 460px;
  height: 95px;
  position: absolute;
}
.compare-gas-monthly-vector {
  top: 142px;
  right: -14px;
  width: 360px;
  height: 104px;
  position: absolute;
}
.compare-gas-monthly-vector2 {
  top: 179px;
  left: 4px;
  width: 458px;
  height: 68px;
  position: absolute;
}
.compare-gas-monthly-rectangle9 {
  top: 0px;
  left: 4px;
  width: 458px;
  height: 291px;
  position: absolute;
  border-color: rgba(144, 144, 144, 1);
  border-style: solid;
  border-width: 2.7611000537872314px;
  border-radius: 13.805500030517578px 13.805500030517578px 0 0;
}
.compare-gas-monthly-toggle {
  top: 629.5308227539062px;
  left: 394.8373107910156px;
  width: 62px;
  height: 33.133201599121094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.compare-gas-monthly-rectangle1 {
  top: -14px;
  right: -1px;
  width: 62px;
  height: 33px;
  position: absolute;
  border-radius: 190.5918426513672px;
}
.compare-gas-monthly-ellipse {
  top: -10px;
  left: 5px;
  width: 25px;
  height: 26px;
  position: absolute;
}
@media(max-width: 767px) {
  .compare-gas-monthly-graph {
    top: 0px;
    left: 0px;
  }
  .compare-gas-monthly-vector4 {
    left: -4px;
    bottom: 2px;
  }
  .compare-gas-monthly-vector3 {
    top: 140px;
    left: -6px;
  }
  .compare-gas-monthly-vector {
    top: 139px;
    right: -2px;
  }
  .compare-gas-monthly-vector2 {
    top: 177px;
    left: -5px;
  }
  .compare-gas-monthly-rectangle9 {
    top: 0px;
    left: -6px;
    width: 457px;
    height: 288px;
  }
}
