.usage-goal-energy-monthly-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.usage-goal-energy-monthly-weekly-energy-goal {
  width: 497px;
  height: 1104px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.usage-goal-energy-monthly-header {
  top: 0px;
  left: 0px;
  width: 496.99798583984375px;
  height: 93.32870483398438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.usage-goal-energy-monthly-text {
  top: 12.424949645996094px;
  color: rgba(144, 144, 144, 1);
  width: 497px;
  height: auto;
  position: absolute;
  font-size: 49.69980239868164px;
  font-style: SemiBold;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-navlink {
  display: contents;
}
.usage-goal-energy-monthly-tablerarrowback {
  top: 15.186050415039062px;
  left: 426.5899353027344px;
  width: 57px;
  height: 57px;
  position: absolute;
  text-decoration: none;
}
.usage-goal-energy-monthly-navlink1 {
  display: contents;
}
.usage-goal-energy-monthly-icbaselinehome {
  top: 20px;
  left: 29px;
  width: 57px;
  height: 57px;
  position: absolute;
  text-decoration: none;
}
.usage-goal-energy-monthly-tabs {
  top: 86.97464752197266px;
  left: 0px;
  width: 496.99798583984375px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.usage-goal-energy-monthly-tabs1 {
  width: 496.99798583984375px;
  height: 56.6025505065918px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.usage-goal-energy-monthly-monthly {
  top: 0.000010107421985594556px;
  left: 331.3320007324219px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.usage-goal-energy-monthly-selected {
  top: 0px;
  left: 0px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.usage-goal-energy-monthly-line1 {
  top: 56.602561950683594px;
  left: 33.1331672668457px;
  width: 99px;
  height: 1px;
  position: absolute;
}
.usage-goal-energy-monthly-text02 {
  color: rgba(144, 144, 144, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-navlink2 {
  display: contents;
}
.usage-goal-energy-monthly-weekly {
  top: 0.000010107421985594556px;
  left: 165.66600036621094px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.usage-goal-energy-monthly-text04 {
  color: rgba(192, 192, 192, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-navlink3 {
  display: contents;
}
.usage-goal-energy-monthly-daily {
  top: 0px;
  left: 0px;
  width: 165.66600036621094px;
  height: 56.6025505065918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.usage-goal-energy-monthly-text06 {
  color: rgba(192, 192, 192, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-text08 {
  top: 150.47994995117188px;
  left: 20.708250045776367px;
  color: rgba(216, 209, 38, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 49.69980239868164px;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-text10 {
  top: 309.2431945800781px;
  left: 20.708250045776367px;
  color: rgba(216, 209, 38, 1);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 49.69980239868164px;
  font-style: SemiBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-input {
  gap: 11.044400215148926px;
  top: 227.79075622558594px;
  left: 20.708250045776367px;
  width: 456px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.usage-goal-energy-monthly-textfield {
  gap: 11.044400215148926px;
  display: flex;
  padding: 16.566600799560547px 22.08880043029785px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 2.7611000537872314px;
  border-radius: 11.044400215148926px;
  background-color: rgba(255, 255, 255, 1);
}
.usage-goal-energy-monthly-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  opacity: 0.50;
  flex-grow: 1;
  font-size: 20.708250045776367px;
  font-style: Light;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 300;
  line-height: 33.133201599121094px;
  font-stretch: normal;
  text-decoration: none;
}
.usage-goal-energy-monthly-toggle {
  top: 327.1903381347656px;
  left: 411.4039001464844px;
  width: 62px;
  height: 33.133201599121094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.usage-goal-energy-monthly-rectangle {
  top: 0px;
  left: 0px;
  width: 62px;
  height: 33px;
  position: absolute;
  border-radius: 190.5918426513672px;
}
.usage-goal-energy-monthly-ellipse {
  top: 3px;
  left: 3px;
  width: 25px;
  height: 26px;
  position: absolute;
}
.usage-goal-energy-monthly-navlink4 {
  display: contents;
}
.usage-goal-energy-monthly-button {
  top: 1011.9431762695312px;
  left: 138.05499267578125px;
  width: 222.2685546875px;
  height: 57.98310089111328px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(144, 144, 144, 1);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round50);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.usage-goal-energy-monthly-text14 {
  top: 8px;
  left: -1px;
  color: rgba(144, 144, 144, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 27.611000061035156px;
  font-style: Medium;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
