.negative-big-button-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.negative-big-button-icon {
  width: 24px;
  height: 24px;
}





@media(max-width: 479px) {
  .negative-big-button-container {
    flex: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    box-shadow: 5px 5px 11px 0px #d4d4d4;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round50);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
    background-color: var(--dl-color-primary-100);
  }
  .negative-big-button-text {
    color: rgba(57, 57, 57, 0.5);
    width: 100%;
    height: auto;
    font-size: 36px;
    align-self: center;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 5px;
    text-transform: none;
    text-decoration: none;
  }
  .negative-big-button-text1 {
    color: var(--dl-color-danger-500);
    width: var(--dl-size-size-medium);
    text-align: right;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: 0px;
  }
  .negative-big-button-icon {
    fill: var(--dl-color-danger-500);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .negative-big-button-root-class-name {
    background-color: var(--dl-color-primary-500);
  }
  .negative-big-button-root-class-name3 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-500);
  }
  .negative-big-button-root-class-name4 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-500);
  }
  .negative-big-button-root-class-name5 {
    flex: 1;
    width: 50%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-500);
  }
  .negative-big-button-root-class-name6 {
    width: 50%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-500);
  }
}
